### 1. Conectarse a la url que contiene el archivo CSV de medallas olímpicas.

In [1]:
import sqlite3
import pandas as pd
#import sqlalchemy as db

medals = pd.read_csv("http://winterolympicsmedals.com/medals.csv")

### 2. Descargar los datos y obtener un sub dataset que contenga a todas las medallas de oro (Gold) Estados Unidos (USA) a partir del año 1950

In [2]:
usa_gold_medals = medals[
                        (medals['NOC'] == 'USA') 
                        & (medals['Medal'] == 'Gold') 
                        & (medals['Year']>=1950)
                    ]
usa_gold_medals.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
311,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
314,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
316,1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
317,1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold
386,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold

### 3. Crear una base de datos “olympics” en SQLite y la tabla “medals”

In [3]:
# Se crear la conexión a la base de datos
conn = sqlite3.connect('olympics.db')

# Se crear el cursor
cursor = conn.cursor()

# Se crear la tabla
query = """CREATE TABLE IF NOT EXISTS medals (
            Year INTEGER,
            City TEXT NOT NULL,
            Sport TEXT NOT NULL,
            Discipline TEXT NOT NULL,
            NOC TEXT NOT NULL,
            Event TEXT NOT NULL,
            Event_gender TEXT NOT NULL,
            Medal TEXT NOT NULL
            );"""

cursor.execute(query)
conn.commit()

### 4. Guardar en la base de datos. los datos generados en el sub dataset

In [49]:
# Obtengo las filas del dataset como tuplas dentro de una lista.
# Se ignora el nombre de las columnas(name=None) y los indices de las filas (index=False)
order_data = list(usa_gold_medals.itertuples(index=False, name=None))

# Se cargan los datos
cursor.executemany("INSERT INTO medals VALUES (?, ?, ?, ?, ?, ?, ?, ?)", order_data)

conn.commit()

### 5. Consultar la base de datos y validar que los datos se hayan cargado correctamente.

In [5]:
# Consulta
query = "SELECT * FROM medals LIMIT 10"
cursor.execute(query)

# Se muestra los resultados obtenidos
results = cursor.fetchall()

for result in results:
    print(result)

(311, 1952, 'Oslo', 'Skating', 'Figure skating', 'USA', 'individual', 'M', 'Gold')
(314, 1952, 'Oslo', 'Skating', 'Speed skating', 'USA', '500m', 'M', 'Gold')
(316, 1952, 'Oslo', 'Skiing', 'Alpine Skiing', 'USA', 'giant slalom', 'W', 'Gold')
(317, 1952, 'Oslo', 'Skiing', 'Alpine Skiing', 'USA', 'slalom', 'W', 'Gold')
(386, 1956, "Cortina d'Ampezzo", 'Skating', 'Figure skating', 'USA', 'individual', 'M', 'Gold')
(388, 1956, "Cortina d'Ampezzo", 'Skating', 'Figure skating', 'USA', 'individual', 'W', 'Gold')
(461, 1960, 'Squaw Valley', 'Ice Hockey', 'Ice Hockey', 'USA', 'ice hockey', 'M', 'Gold')
(462, 1960, 'Squaw Valley', 'Skating', 'Figure skating', 'USA', 'individual', 'M', 'Gold')
(464, 1960, 'Squaw Valley', 'Skating', 'Figure skating', 'USA', 'individual', 'W', 'Gold')
(569, 1964, 'Innsbruck', 'Skating', 'Speed skating', 'USA', '500m', 'M', 'Gold')